.sectionImg{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 2rem;
}
.MeioAmbienteImg {
    border-radius: 0.5rem;
    /* Você pode adicionar mais estilos, se necessário */
    width: 100%; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
    background-color: #fff; /* Defina a cor de fundo para o header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    padding: 10px 20px;
}
.containerONGS{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerDoacao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form-container{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
}

.login-form-container.active{
    top:0;
}


/* Media query para telas menores que 600px */
@media (max-width: 600px) {
    .MeioAmbienteImg {
        width: 100%; /* Largura menor para dispositivos móveis */
        border-radius: 0.25rem; /* Borda menor para dispositivos móveis */
    }
}

/* Media query para telas entre 600px e 960px */
@media (min-width: 600px) and (max-width: 960px) {
    .MeioAmbienteImg {
        width: 80%; /* Largura ajustada para tablets */
    }
}

/* Media query para telas maiores que 960px */
@media (min-width: 960px) {
    .MeioAmbienteImg {
        width: 70%; /* Largura padrão para desktop */
    }
    form {
        width: 50%; /* Reduz a largura do formulário */
        padding: 20px; /* Ajusta o padding */
        margin: 0 auto; /* Centraliza o formulário */
    }
    
}


.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background: #eee;
}
.sectionDoar{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background: #eee;
}


@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: block;
    }

    #menu-btn.fa-times{
        transform:rotate(180deg);
    }

    #login-btn .btn{
        display: none;
    }

    #login-btn i{
        display: block;
    }


}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}