.containerImgCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: auto;
}
.ImgCarousel {
  width: 50%;
  height: auto;
  border-radius: 10px;
}
.carousel {
  padding: 1rem 8rem;
}


/* Media query para telas menores que 600px */
@media (max-width: 600px) {
  .ImgCarousel {
    width: 100%; /* Largura de 100% em telas pequenas */
  }
}
